{
    "telegram": {
        "token": "**********************************************",
        "chat_id": "********"
    },

    "ftx": {
        "apiKey": "****************************************",
        "secret": "****************************************"
    },

    "binance": {
        "apiKey": "****************************************************************",
        "secret": "****************************************************************"
    },

    "bscscan": {
        "token": "**********************************"
    }
}
